@media all and (max-width: 786px) {
  html,
  body {
    font-size: 10px !important;
  }
  .steps_wrapper {
    width: 90% !important;
    margin: 1rem auto;
  }

  .form_segment {
    width: 90%;
    margin: 0 auto;
  }
  .form_wrapper {
    width: 95%;
  }

  .avatar {
    margin: 0 auto !important;
    margin-bottom: 2rem !important;
  }
}
